# Python >= 3.12.4
torch
torchvision
google-generativeai
pydicom
pandas
streamlit>=1.42.2
numpy
matplotlib
seaborn
joblib
pillow
scikit-learn
shap
xgboost


1. Database
2. 3D Model
3. Class wise predictions
4. PDF upload section